* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: bisque;
    box-shadow: 0px 1px 2px;
}

ul li { list-style: none; }
.logo { cursor: pointer; }
a { text-decoration: none; color: black; transition: .3s;}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

a:hover { color: azure; }

.hamburger {
    display: none;
    margin: auto 0;
}


@media (max-width: 730px) {
    ul { display: none; }
    .hamburger { display: block; }
}